body{
  background-image: url(../src/image4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.logo{
  height: 75px;
  width: 75px;
}

.container{
  margin-top: 5%;
  min-height: 1px;
  width: 94%;
  margin-left: 3%;
  height: 55%;
  display: flex;
  justify-content: space-around;
}
.card{
  min-height: 1px;
  width: 27%;
  height: auto;
  color: #8fc5dc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;filter: blur(0px);
  border: 2.5px solid #255a8e;
  background: rgba(34,34,34,0.45);
}

h2{
  text-align: center;
  color: #bfd3e6;
}
h1{
  text-align: center;
  padding-top: 5%;
  font-size: 3.2rem;
  color: #bfd3e6;
}
p{
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 20px;
}
li{
  padding-right: 20px;
  padding-top: 15px;
}


